# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/
.pytest_tmp/

# Coverage reports
.coverage
htmlcov/

# IDE settings
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db